# Embeddings for the DDIS Movie Graph

In [5]:
%pip install numpy pandas scikit-learn

Requirement already satisfied: numpy in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (2.1.2)
Requirement already satisfied: pandas in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (2.2.3)
Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (from pandas) (2024.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in c:\users\adam\anaconda3\envs\atai-bot\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 599.9 kB/s eta 0:00:18
   -- ------------------------------------- 0.8/11.0 MB 745.8 kB/s eta 0:00:14
   ---- ----------------------------------- 1.3/11.0 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.0 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.0 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.4/11.0 MB 1.4 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.0 MB 1.4 MB/s eta 0:00:06
   ----------- ---------------------------- 3.1/11.0 MB 1.5 MB/s eta 0:00:06
   ------------ --------------------------- 3.4/11.0 MB 1.4 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.0 MB 1.5 MB/s eta 0:00:05
   --------------- ------------------------ 4.2/11.0 MB 1.5 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/11.0 MB 1.5 MB/s eta 0:00:05
   ------------------ --------------------- 5.0/11.0 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/11.0 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.0 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.0 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 6.0/11.0 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 6.3/11.0 MB 1.5 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.0 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.0 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/11.0 MB 1.5 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/11.0 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.0 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.0 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.0 MB 1.5 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/11.0 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.4 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.3/44.5 MB ? eta -:--:--
    --------------------------------------- 0.8/44.5 MB 2.1 MB/s eta 0:00:21
   - -------------------------------------- 1.3/44.5 MB 2.4 MB/s eta 0:00:19
   - -------------------------------------- 1.8/44.5 MB 2.3 MB/s eta 0:00:19
   - -------------------------------------- 2.1/44.5 MB 2.3 MB/s eta 0:00:19
   -- ------------------------------------- 2.6/44.5 MB 2.2 MB/s eta 0:00:20
   -- ------------------------------------- 3.1/44.5 MB 2.2 MB/s eta 0:00:19
   --- ------------------------------------ 3.7/44.5 MB 2.2 MB/s eta 0:00:19
   --- ------------------------------------ 4.2/44.5 MB 2.2 MB/s eta 0:00:18
   ---- ----------------------------------- 4.7/44.5 MB 2.2 MB/s eta 0:00:18
   ---- ----------------------------------- 5.2/44.5 MB 2.3 MB/s eta 0:00:18
   ---- ----------------------------------- 5.5/44.5 MB 2.2 MB/s eta 0:00:18
   ----- ---------------------------------- 6.0/44.5 MB 2.2 MB/s eta 0:00:18
   ----- ---------------------------------- 6.6/44.5 MB 2.2 MB/s eta 0:00:17
   ------ --------------------------------- 7.1/44.5 MB 2.3 MB/s eta 0:00:17
   ------ --------------------------------- 7.6/44.5 MB 2.3 MB/s eta 0:00:17
   ------- -------------------------------- 8.4/44.5 MB 2.3 MB/s eta 0:00:16
   -------- ------------------------------- 8.9/44.5 MB 2.3 MB/s eta 0:00:16
   -------- ------------------------------- 9.4/44.5 MB 2.3 MB/s eta 0:00:15
   -------- ------------------------------- 10.0/44.5 MB 2.4 MB/s eta 0:00:15
   --------- ------------------------------ 10.2/44.5 MB 2.3 MB/s eta 0:00:15
   --------- ------------------------------ 10.7/44.5 MB 2.3 MB/s eta 0:00:15
   ---------- ----------------------------- 11.5/44.5 MB 2.3 MB/s eta 0:00:15
   ---------- ----------------------------- 12.1/44.5 MB 2.4 MB/s eta 0:00:14
   ----------- ---------------------------- 12.6/44.5 MB 2.4 MB/s eta 0:00:14
   ----------- ---------------------------- 13.1/44.5 MB 2.4 MB/s eta 0:00:14
   ------------ --------------------------- 13.9/44.5 MB 2.4 MB/s eta 0:00:13
   ------------ --------------------------- 14.4/44.5 MB 2.4 MB/s eta 0:00:13
   ------------- -------------------------- 14.9/44.5 MB 2.4 MB/s eta 0:00:13
   ------------- -------------------------- 15.5/44.5 MB 2.4 MB/s eta 0:00:12
   -------------- ------------------------- 16.3/44.5 MB 2.4 MB/s eta 0:00:12
   --------------- ------------------------ 16.8/44.5 MB 2.5 MB/s eta 0:00:12
   --------------- ------------------------ 17.3/44.5 MB 2.5 MB/s eta 0:00:12
   ---------------- ----------------------- 18.1/44.5 MB 2.5 MB/s eta 0:00:11
   ---------------- ----------------------- 18.6/44.5 MB 2.5 MB/s eta 0:00:11
   ----------------- ---------------------- 19.1/44.5 MB 2.5 MB/s eta 0:00:11
   ----------------- ---------------------- 19.7/44.5 MB 2.5 MB/s eta 0:00:11
   ------------------ --------------------- 20.2/44.5 MB 2.5 MB/s eta 0:00:10
   ------------------ --------------------- 21.0/44.5 MB 2.5 MB/s eta 0:00:10
   ------------------- -------------------- 21.5/44.5 MB 2.5 MB/s eta 0:00:10
   ------------------- -------------------- 22.0/44.5 MB 2.5 MB/s eta 0:00:09
   -------------------- ------------------- 22.5/44.5 MB 2.5 MB/s eta 0:00:09
   -------------------- ------------------- 23.3/44.5 MB 2.5 MB/s eta 0:00:09
   --------------------- ------------------ 23.9/44.5 MB 2.5 MB/s eta 0:00:09
   --------------------- ------------------ 24.4/44.5 MB 2.5 MB/s eta 0:00:08
   ---------------------- ----------------- 24.9/44.5 MB 2.5 MB/s eta 0:00:08
   ----------------------- ---------------- 25.7/44.5 MB 2.5 MB/s eta 0:00:08
   ----------------------- ---------------- 26.2/44.5 MB 2.6 MB/s eta 0:00:08
   ------------------------ --------------- 26.7/44.5 MB 2.5 MB/s eta 0:00:07
   ------------------------ --------------- 27.5/44.5 MB 2.6 MB/s eta 0:00:07
   ------------------------- -------------- 28.0/44.5 MB 2.6 MB/s eta 0:00:07
   ------------------------- -------------- 28.6/44.5 MB 2.6 MB/s eta 0:00:07
   -------------------------- ------------- 29.4/44.5 MB 2.6 MB/s eta 0:00:06
   -------------------------- ------------- 29.9/44.5 MB 2.6 MB/s eta 0:00:06
   --------------------------- ------------ 30.4/44.5 MB 2.6 MB/s eta 0:00:06
   ---------------------------- ----------- 31.2/44.5 MB 2.6 MB/s eta 0:00:06
   ---------------------------- ----------- 31.7/44.5 MB 2.6 MB/s eta 0:00:05
   ---------------------------- ----------- 32.2/44.5 MB 2.6 MB/s eta 0:00:05
   ----------------------------- ---------- 32.5/44.5 MB 2.6 MB/s eta 0:00:05
   ----------------------------- ---------- 33.0/44.5 MB 2.6 MB/s eta 0:00:05
   ------------------------------ --------- 33.8/44.5 MB 2.6 MB/s eta 0:00:05
   ------------------------------ --------- 34.3/44.5 MB 2.6 MB/s eta 0:00:04
   ------------------------------- -------- 35.1/44.5 MB 2.6 MB/s eta 0:00:04
   -------------------------------- ------- 35.7/44.5 MB 2.6 MB/s eta 0:00:04
   -------------------------------- ------- 36.2/44.5 MB 2.6 MB/s eta 0:00:04
   -------------------------------- ------- 36.7/44.5 MB 2.6 MB/s eta 0:00:04
   -------------------------------- ------- 36.7/44.5 MB 2.6 MB/s eta 0:00:04
   --------------------------------- ------ 37.0/44.5 MB 2.6 MB/s eta 0:00:03
   --------------------------------- ------ 37.2/44.5 MB 2.5 MB/s eta 0:00:03
   --------------------------------- ------ 37.5/44.5 MB 2.5 MB/s eta 0:00:03
   --------------------------------- ------ 37.7/44.5 MB 2.5 MB/s eta 0:00:03
   ---------------------------------- ----- 38.0/44.5 MB 2.5 MB/s eta 0:00:03
   ---------------------------------- ----- 38.5/44.5 MB 2.4 MB/s eta 0:00:03
   ----------------------------------- ---- 39.3/44.5 MB 2.5 MB/s eta 0:00:03
   ----------------------------------- ---- 39.8/44.5 MB 2.5 MB/s eta 0:00:02
   ------------------------------------ --- 40.9/44.5 MB 2.5 MB/s eta 0:00:02
   ------------------------------------- -- 41.7/44.5 MB 2.5 MB/s eta 0:00:02
   -------------------------------------- - 42.7/44.5 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 2.6 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

## Setup

In [1]:
# imports
import csv
import numpy as np
import os
import rdflib
import pandas as pd
from sklearn.metrics import pairwise_distances

In [2]:
# define some prefixes
WD = rdflib.Namespace('http://www.wikidata.org/entity/')
WDT = rdflib.Namespace('http://www.wikidata.org/prop/direct/')
DDIS = rdflib.Namespace('http://ddis.ch/atai/')
RDFS = rdflib.namespace.RDFS
SCHEMA = rdflib.Namespace('http://schema.org/')

## Load the data

In [3]:
# load the graph
graph = rdflib.Graph().parse('./../too_large_dataset/ddis-movie-graph.nt', format='turtle')

In [6]:
# load the embeddings
entity_emb = np.load('./../too_large_dataset/ddis-graph-embeddings/entity_embeds.npy')
relation_emb = np.load('./../too_large_dataset/ddis-graph-embeddings/relation_embeds.npy')

In [7]:
# load the dictionaries
with open('./../too_large_dataset/ddis-graph-embeddings/entity_ids.del', 'r') as ifile:
    ent2id = {rdflib.term.URIRef(ent): int(idx) for idx, ent in csv.reader(ifile, delimiter='\t')}
    id2ent = {v: k for k, v in ent2id.items()}
with open('./../too_large_dataset/ddis-graph-embeddings/relation_ids.del', 'r') as ifile:
    rel2id = {rdflib.term.URIRef(rel): int(idx) for idx, rel in csv.reader(ifile, delimiter='\t')}
    id2rel = {v: k for k, v in rel2id.items()}

In [8]:
ent2lbl = {ent: str(lbl) for ent, lbl in graph.subject_objects(RDFS.label)}
lbl2ent = {lbl: ent for ent, lbl in ent2lbl.items()}

In [9]:
from rdflib import URIRef
predicates = set()

for s, p, o in graph:  # Iterate over all triples in the graph
    predicates.add(p)  # Collect the unique predicates

# Now map each predicate to its label (if available)
rel2lbl = {}

for pred in predicates:
    # Find the label for the predicate, if it exists
    label = graph.value(subject=pred, predicate=RDFS.label)
    if label:
        rel2lbl[pred] = str(label)
    else:
        # If no label is available, use the URI as the fallback
        rel2lbl[pred] = str(pred)

# Reverse dictionary: labels to relationships
lbl2rel = {lbl: rel for rel, lbl in rel2lbl.items()}

In [10]:
from rdflib import URIRef
from collections import defaultdict
from rdflib.namespace import RDFS

# Initialize a dictionary to store the count of each predicate
predicate_counts = defaultdict(int)

# Initialize a set to collect unique predicates
predicates = set()

# Iterate over all triples in the graph
for s, p, o in graph:
    predicates.add(p)  # Collect the unique predicates
    predicate_counts[p] += 1  # Count how often each predicate occurs

# Now map each predicate to its label (if available)
rel2lbl = {}

for pred in predicates:
    # Find the label for the predicate, if it exists
    label = graph.value(subject=pred, predicate=RDFS.label)
    if label:
        rel2lbl[pred] = str(label)
    else:
        # If no label is available, use the URI as the fallback
        rel2lbl[pred] = str(pred)

# Reverse dictionary: labels to relationships
lbl2rel = {lbl: rel for rel, lbl in rel2lbl.items()}

# Now, let's also map the label to its count (for easy reading)
label_counts = {rel2lbl[pred]: predicate_counts[pred] for pred in predicates}

# Output the label counts for inspection
for label, count in label_counts.items():
    print(f"{label}: {count} occurrences")

# show in sorted table
df = pd.DataFrame(label_counts.items(), columns=['label', 'count']).sort_values('count', ascending=False)

RARS rating: 223 occurrences
director: 28796 occurrences
followed by: 2315 occurrences
voice actor: 12366 occurrences
sport: 3476 occurrences
director of photography: 16801 occurrences
archives at: 49 occurrences
EIRIN film rating: 940 occurrences
contributor to the creative work or subject: 2406 occurrences
religion: 1193 occurrences
ancestral home: 44 occurrences
musical conductor: 34 occurrences
twinned administrative body: 3704 occurrences
interested in: 54 occurrences
based on: 5490 occurrences
Medierådet rating: 5941 occurrences
languages spoken, written or signed: 61107 occurrences
choreographer: 64 occurrences
JMK film rating: 1988 occurrences
occupation: 81617 occurrences
historic county: 162 occurrences
quotes work: 39 occurrences
member of: 741 occurrences
screenwriter: 32150 occurrences
sex or gender: 84 occurrences
original language of film or TV show: 31223 occurrences
distribution format: 21556 occurrences
participant: 348 occurrences
partially coincident with: 46 occurrences
continent: 511 occurrences
capital of: 271 occurrences
plot expanded in: 38 occurrences
killed by: 179 occurrences
different from: 3454 occurrences
health specialty: 52 occurrences
IGAC rating: 639 occurrences
official language: 667 occurrences
distributed by: 42877 occurrences
industry: 738 occurrences
original broadcaster: 1365 occurrences
member of the crew of: 56 occurrences
art director: 232 occurrences
scenographer: 60 occurrences
location of formation: 583 occurrences
language used: 972 occurrences
replaces: 94 occurrences
animator: 2370 occurrences
platform: 439 occurrences
follows: 2328 occurrences
operating system: 57 occurrences
indigenous to: 262 occurrences
influenced by: 1247 occurrences
broadcast by: 65 occurrences
member of sports team: 46 occurrences
narrative location: 19585 occurrences
box office: 1881 occurrences
uses: 237 occurrences
has works in the collection: 726 occurrences
presented in: 57 occurrences
BAMID film rating: 134 occurrences
make-up artist: 187 occurrences
permanent resident of: 69 occurrences
head of government: 97 occurrences
copyright license: 39 occurrences
input method: 30 occurrences
filming location: 14545 occurrences
presenter: 53 occurrences
has cause: 59 occurrences
applies to jurisdiction: 35 occurrences
sexual orientation: 481 occurrences
winner: 6683 occurrences
ClassInd rating: 1213 occurrences
publication date: 28642 occurrences
published in: 106 occurrences
place of burial: 404 occurrences
place of death: 13964 occurrences
characters: 5227 occurrences
copyright representative: 33 occurrences
allegiance: 157 occurrences
diplomatic relation: 5818 occurrences
http://ddis.ch/atai/rating: 2451 occurrences
occupant: 34 occurrences
place of publication: 309 occurrences
designed by: 29 occurrences
Kijkwijzer rating: 3389 occurrences
Hong Kong film rating: 231 occurrences
facet of: 317 occurrences
BBFC rating: 1109 occurrences
NMHH film rating: 2899 occurrences
enemy of: 559 occurrences
list of works: 110 occurrences
fabrication method: 262 occurrences
said to be the same as: 199 occurrences
nominated for: 25264 occurrences
RCQ classification: 910 occurrences
residence: 5245 occurrences
storyboard artist: 523 occurrences
child: 3477 occurrences
part of the series: 2233 occurrences
subclass of: 4743 occurrences
located in present-day administrative territorial entity: 47 occurrences
noble title: 38 occurrences
narrator: 409 occurrences
has part: 3253 occurrences
founded by: 1058 occurrences
medical condition: 347 occurrences
developer: 82 occurrences
country of citizenship: 97805 occurrences
sound designer: 225 occurrences
conflict: 1706 occurrences
set during recurring event: 831 occurrences
writing language: 1583 occurrences
location: 637 occurrences
present in work: 11227 occurrences
intended public: 56 occurrences
capital: 290 occurrences
MTRCB rating: 283 occurrences
head of state: 105 occurrences
conferred by: 47 occurrences
sidekick of: 85 occurrences
publisher: 374 occurrences
copyright status: 548 occurrences
collection: 473 occurrences
set in environment: 117 occurrences
film crew member: 2956 occurrences
located on street: 34 occurrences
dedicated to: 41 occurrences
director / manager: 102 occurrences
stepparent: 50 occurrences
RTC film rating: 1780 occurrences
derivative work: 3155 occurrences
product or material produced: 535 occurrences
production company: 18701 occurrences
INCAA film rating: 399 occurrences
cites work: 55 occurrences
season: 45 occurrences
copyright holder: 68 occurrences
manner of death: 726 occurrences
fictional universe described in: 541 occurrences
located on terrain feature: 120 occurrences
award received: 16585 occurrences
instance of: 169427 occurrences
partner in business or sport: 181 occurrences
lifestyle: 60 occurrences
performer: 9131 occurrences
employer: 2065 occurrences
depicted by: 85 occurrences
significant person: 330 occurrences
references work, tradition or theory: 174 occurrences
field of work: 813 occurrences
crew member(s): 71 occurrences
father: 2270 occurrences
set in period: 1580 occurrences
cast member: 288856 occurrences
author: 2552 occurrences
country for sport: 1378 occurrences
contains administrative territorial entity: 483 occurrences
home world: 95 occurrences
owner of: 328 occurrences
Australian Classification: 69 occurrences
takes place in fictional universe: 914 occurrences
KAVI rating: 75 occurrences
political ideology: 45 occurrences
country: 8635 occurrences
costume designer: 2274 occurrences
ICAA rating: 2497 occurrences
executive producer: 3244 occurrences
work location: 2351 occurrences
production designer: 3171 occurrences
field of this occupation: 42 occurrences
sports discipline competed in: 38 occurrences
image: 56610 occurrences
assessment: 13355 occurrences
operating area: 59 occurrences
replaced by: 87 occurrences
owned by: 602 occurrences
film editor: 13060 occurrences
notable work: 4003 occurrences
IMDA rating: 415 occurrences
movement: 313 occurrences
first appearance: 710 occurrences
place of detention: 55 occurrences
has edition or translation: 102 occurrences
cause of death: 2327 occurrences
IMDb ID: 124038 occurrences
military branch: 190 occurrences
educated at: 2794 occurrences
located in or next to body of water: 285 occurrences
after a work by: 2332 occurrences
CNC film rating (France): 9004 occurrences
shares border with: 2030 occurrences
original film format: 336 occurrences
participant in: 1118 occurrences
OFLC classification: 60 occurrences
country of origin: 40394 occurrences
character designer: 57 occurrences
basin country: 160 occurrences
inspired by: 598 occurrences
creator: 3276 occurrences
mother: 1122 occurrences
aspect ratio: 4581 occurrences
given name: 537 occurrences
headquarters location: 1827 occurrences
native language: 9872 occurrences
official residence: 35 occurrences
practiced by: 34 occurrences
color: 22795 occurrences
relative: 763 occurrences
KMRB film rating: 234 occurrences
media franchise: 2235 occurrences
narrative motif: 88 occurrences
form of creative work: 420 occurrences
public holiday: 52 occurrences
http://ddis.ch/atai/tag: 36191 occurrences
place of birth: 47720 occurrences
sibling: 3674 occurrences
located in the administrative territorial entity: 1761 occurrences
place served by transport hub: 31 occurrences
affiliation: 53 occurrences
ethnic group: 1997 occurrences
node label: 158059 occurrences
spouse: 8543 occurrences
main subject: 11685 occurrences
business model: 60 occurrences
language of work or name: 3867 occurrences
has pet: 65 occurrences
time period: 463 occurrences
unmarried partner: 1884 occurrences
lowest point: 71 occurrences
named after: 892 occurrences
student: 246 occurrences
genre: 70261 occurrences
CNC film rating (Romania): 2242 occurrences
node description: 150006 occurrences
convicted of: 139 occurrences
represented by: 38 occurrences
MPAA film rating: 1607 occurrences
Filmiroda rating: 4411 occurrences
from narrative universe: 2494 occurrences
edition or translation of: 101 occurrences
student of: 288 occurrences
FPB rating: 445 occurrences
part of: 1850 occurrences
described by source: 9183 occurrences
significant event: 765 occurrences
superhuman feature or ability: 228 occurrences
use: 66 occurrences
opposite of: 152 occurrences
IFCO rating: 382 occurrences
depicts: 437 occurrences
has effect: 40 occurrences
parent organization: 362 occurrences
operator: 60 occurrences
has quality: 658 occurrences
FSK film rating: 10268 occurrences

## Inspect the data

In [11]:
# number of triples in the graph
len(graph)

2056777

In [12]:
# number of entities in the graph
triples = {(s, p, o) for s,p,o in graph.triples((None, None, None)) if isinstance(o, rdflib.term.URIRef)}
len({s for s,p,o in triples} | {o for s,p,o in triples})

158900

In [13]:
# entity embedding size
entity_emb.shape

(158901, 256)

In [14]:
# relation embedding size
relation_emb.shape

(248, 256)

## Finding errors

In [15]:
# let's see what our graph thinks the occupation of Jean Van Hamme is
professions = set(graph.query('''
    prefix wdt: <http://www.wikidata.org/prop/direct/>
    prefix wd: <http://www.wikidata.org/entity/>
    
    SELECT ?obj ?lbl WHERE {
        ?ent rdfs:label "Jean Van Hamme"@en .
        ?ent wdt:P106 ?obj .
        ?obj rdfs:label ?lbl .
    }
    '''))
{ent[len(WD):]: str(lbl) for ent, lbl in professions}

{'Q329737': 'butcher'}

In [22]:
# "Jean Van Hamme" entity
head = entity_emb[ent2id[WD.Q428160]]

print(head)
# "occupation" relation
pred = relation_emb[rel2id[WDT.P106]]
# add vectors according to TransE scoring function.
lhs = head + pred
# compute distance to *any* entity
dist = pairwise_distances(lhs.reshape(1, -1), entity_emb).reshape(-1)
# find most plausible entities
most_likely = dist.argsort()
# compute ranks of entities
ranks = dist.argsort().argsort()

[-2.15648285e+02 -3.43045105e+02  1.62101669e+01  1.32401404e+03
 -2.56250954e+01  5.74138298e+01  2.46062515e+02 -1.21514114e+02
 -3.26596100e+02 -1.34717758e+02 -1.47574738e+02 -1.48140198e+02
  1.05306747e+02 -2.79783844e+02 -2.55474396e+02 -6.30456177e+02
  4.98109894e+01  2.15843735e+02  8.40045929e+01  1.12588898e+02
 -2.35675705e+02  6.25411377e+02  2.43842072e+02 -3.12706909e+02
 -3.54335236e+02  1.53338882e+02  7.79959641e+01 -8.29916382e+01
  6.28118172e+01 -1.43937668e+02 -1.63557709e+02  2.05709229e+02
 -2.15649292e+02  1.72930313e+02 -1.67236511e+02 -1.09734216e+03
  1.32000702e+02 -3.79493866e+02  9.74276581e+01 -3.76270905e+02
  2.08139205e+00 -1.30563705e+02  5.71233292e+01 -2.62667053e+02
 -5.63552513e+01 -2.70164032e+01 -4.57405128e+01  1.09456078e+02
 -9.02489662e+00 -2.83179871e+02  6.51567917e+01 -1.39847443e+02
 -4.29040009e+02  4.61027184e+01 -7.60779495e+01  2.24534729e+02
 -1.18828796e+02  3.03453186e+02 -1.85770660e+02  6.11215286e+01
 -1.20118322e+01 -4.48816967e+00 -2.46211334e+02  7.25113297e+01
 -3.70909386e+01  1.91405449e+01  1.80416840e+02 -4.46805359e+02
 -6.65752640e+01 -4.39254532e+01  9.34494247e+01 -1.83175949e+02
 -5.28231262e+02 -1.93471786e+02  1.71545654e+02  8.43431244e+01
 -2.96378143e+02  3.96601181e+01  2.58324097e+02 -1.56224566e+01
 -1.38351669e+02 -4.79519997e+01  2.53552475e+02  4.14528351e+02
  1.61510910e+02 -1.55835358e+02  5.15804024e+01  2.55142792e+02
 -1.34382080e+02  9.28267212e+01 -5.15172005e+01  7.00428619e+01
 -6.66150818e+01  1.24639442e+02 -3.08695736e+01 -3.20038025e+02
  1.13061609e+01  3.96086617e+01 -1.31540002e+03  4.70403767e+00
 -2.27440552e+02  1.12358200e+02  4.25088539e+01 -1.05974144e+02
  5.88742943e+01 -1.78770538e+02 -1.82776550e+02  1.70022095e+02
 -8.94745865e+01 -2.04484772e+02 -2.81121277e+02  3.33552002e+02
 -1.29384775e+01  4.08318481e+01 -1.03201843e+02 -9.30210419e+01
 -1.02565881e+03  2.51858704e+02 -8.23675079e+01 -4.87382202e+01
 -2.34516907e+02 -2.93854340e+02 -1.93505081e+02  1.03334999e+02
 -1.82707687e+02 -5.82467041e+01  5.51683533e+02  5.77275429e+01
  1.93285324e+02  2.76048218e+02 -1.85792969e+02  7.32409851e+02
  1.04119702e+03  2.58982056e+02  1.79430374e+02 -2.10499359e+02
  3.70335052e+02 -7.83063660e+01  1.23609818e+02  5.60430813e+00
  7.13056885e+02  1.67453522e+02 -2.92629681e+01 -2.03397339e+02
  1.45755600e+02  3.19645721e+02  1.03726067e+02  2.38070694e+02
 -9.44437561e+01  4.11180763e+01  1.15586563e+02 -3.20209686e+02
 -3.54508400e+01 -1.65063797e+02 -5.11151733e+01  2.69715515e+02
 -1.72016106e+01 -1.47852814e+02 -2.36661850e+02  4.88650017e+01
 -1.19981613e+02  3.76723419e+02  2.87768677e+02  1.05820114e+02
 -3.91915070e+02  2.91414124e+02  3.87642174e+01  4.73703552e+02
  2.76816498e+02 -3.65041473e+02  7.13185196e+01 -1.04602364e+02
  3.64945709e+02 -3.47042999e+02 -1.17719925e+02 -2.22642914e+02
  1.13995705e+01  8.38032227e+01 -1.31004211e+02  4.30505127e+02
 -1.39477890e+02 -1.02763840e+02  1.27637871e+02 -5.17174301e+01
 -7.75903320e+01  3.22704834e+02 -3.61688599e+02  3.37895752e+02
 -2.10141846e+02 -3.20063438e+01 -2.61393188e+02  1.11673187e+02
  7.38671112e+00 -8.31528931e+01 -2.51644325e+01  1.76553680e+02
 -1.16450859e+02  1.53224838e+02  3.32703979e+02  3.08122005e+01
 -8.90018921e+01 -1.80935837e+02  1.48711884e+02 -7.61012695e+02
  5.89333382e+01 -6.51276550e+01  2.08315842e+02 -1.03982983e+03
 -3.23646774e+01  1.51197937e+02  1.60013092e+02 -3.23336914e+02
  8.24659576e+01  3.77421448e+02 -3.40432709e+02  3.83003845e+02
 -2.39468628e+02 -1.05588661e+02 -1.18903839e+02 -3.44334625e+02
 -1.17655090e+02  2.34526413e+02 -1.65284821e+02 -2.33044235e+02
  1.45334534e+02 -1.23745354e+02  5.30961761e+01  7.06732483e+01
  6.62826309e+01  5.60989456e+01 -1.28070114e+02 -3.50518982e+02
  3.69171478e+02  2.09875732e+02  2.20144821e+02 -4.24467896e+02
 -6.49584839e+02 -1.23280876e+02  5.88920517e+01 -2.79775360e+02
 -6.63047256e+01 -2.71629691e-01  1.56545883e+02  2.95462830e+02
 -1.34212051e+02 -1.95308685e+02 -6.32873535e+01 -1.33464231e+01
  1.89309189e+02 -1.23532906e+02  3.19797852e+02  2.46485855e+02
 -7.37927551e+01  1.24061440e+02 -1.69583340e+01 -2.48245804e+02]

In [18]:
# show scores for (Jean Van Hamme, occupation, butcher)
pd.DataFrame([(str(lbl), dist[ent2id[ent]], ranks[ent2id[ent]]) for ent, lbl in professions],
        columns=('Occupation', 'Score', 'Rank'))

  Occupation       Score   Rank
0    butcher  5196.63623  86817

In [19]:
# what would be more plausible occupations?
pd.DataFrame([
    (id2ent[idx][len(WD):], ent2lbl[id2ent[idx]], dist[idx], rank+1)
    for rank, idx in enumerate(most_likely[:10])],
    columns=('Entity', 'Label', 'Score', 'Rank'))

      Entity           Label        Score  Rank
0     Q36180          writer  3223.151367     1
1     Q33999           actor  3382.129883     2
2   Q6625963        novelist  3397.582520     3
3   Q1930187      journalist  3492.735352     4
4   Q4610556           model  3549.961182     5
5    Q639669        musician  3616.397949     6
6  Q67311526  Obalky knih.cz  3628.230957     7
7       Q150          French  3667.630615     8
8   Q1028181         painter  3694.667480     9
9    Q245068        comedian  3744.303955    10

## Entity Similarity

In [20]:
# which entities are similar to "Harry Potter and the Goblet of Fire"
ent = ent2id[WD.Q102225]
# we compare the embedding of the query entity to all other entity embeddings
dist = pairwise_distances(entity_emb[ent].reshape(1, -1), entity_emb).reshape(-1)
# order by plausibility
most_likely = dist.argsort()

pd.DataFrame([
    (
        id2ent[idx][len(WD):], # qid
        ent2lbl[id2ent[idx]],  # label
        dist[idx],             # score
        rank+1,                # rank
    )
    for rank, idx in enumerate(most_likely[:15])],
    columns=('Entity', 'Label', 'Score', 'Rank'))

,Entity,Label,Score,Rank
0,Q102225,Harry Potter and the Goblet of Fire,0.000000,1
1,Q102235,Harry Potter and the Order of the Phoenix,1839.364746,2
2,Q161678,Harry Potter and the Deathly Hallows – Part 1,1864.835327,3
3,Q161687,Harry Potter and the Half-Blood Prince,1895.976562,4
4,Q232009,Harry Potter and the Deathly Hallows – Part 2,1941.686646,5
5,Q102244,Harry Potter and the Chamber of Secrets,2000.969482,6
6,Q102438,Harry Potter and the Philosopher's Stone,2059.114502,7
7,Q102448,Harry Potter and the Prisoner of Azkaban,2140.694092,8
8,Q18199330,Fantastic Beasts and Where to Find Them,2350.040771,9
9,Q1880543,Harry Potter and the Deathly Hallows,2419.553467,10
10,Q216930,Harry Potter film series,2449.367432,11
11,Q849901,Harry Potter and the Goblet of Fire,2449.732178,12
12,Q18199331,Fantastic Beasts: The Crimes of Grindelwald,2490.106934,13
13,Q20735644,Me Before You,2509.801758,14
14,Q28146833,Severus Snape and the Marauders,2509.966797,15

## Recovering categories

In [16]:
# hmm, our graph contains no parent class of bridge (Q12280)...
set(graph.objects(WD.Q12280, WDT.P279))

set()

In [17]:
# maybe an indirect subclass?
set(graph.objects(WD.Q12280, DDIS.indirectSubclassOf))

set()

In [18]:
# Let's see if we can recover this from embeddings...

# set the head entity to bridge
head = entity_emb[ent2id[WD.Q12280]]
# let's try with wdt:P279 (subClassOf) first
pred = relation_emb[rel2id[WDT.P279]]
# combine according to the TransE scoring function
lhs = head + pred
# compute distance to *any* entity
dist = pairwise_distances(lhs.reshape(1, -1), entity_emb).reshape(-1)
# find most plausible tails
most_likely = dist.argsort()
# show most likely entities
pd.DataFrame([
    (id2ent[idx][len(WD):], ent2lbl[id2ent[idx]], dist[idx], rank+1)
    for rank, idx in enumerate(most_likely[:10])],
    columns=('Entity', 'Label', 'Score', 'Rank'))

      Entity                     Label        Score  Rank
0     Q12280                    bridge  3145.157227     1
1  Q61457040  Ramsar site in Australia  5208.453125     2
2   Q6502866             cliffed coast  5241.154785     3
3    Q595452            baseball venue  5261.777832     4
4  Q19368170           Pont d'en Gómez  5276.720215     5
5   Q2463705   Special Protection Area  5281.016113     6
6   Q2066754                     manor  5301.109863     7
7  Q17468479          district of Oulu  5323.046875     8
8   Q1049757     multi-purpose stadium  5326.457520     9
9    Q202570              Ferris wheel  5341.973633    10

In [19]:
# ... didn't really help.
# Let's try ddis:indirectSubclassOf next

# set the head entity to bridge
head = entity_emb[ent2id[WD.Q12280]]
# now we try ddis:indirectSubclassOf
pred = relation_emb[rel2id[DDIS.indirectSubclassOf]]
# combine according to the TransE scoring function
lhs = head + pred
# compute distance to *any* entity
dist = pairwise_distances(lhs.reshape(1, -1), entity_emb).reshape(-1)
# find most plausible tails
most_likely = dist.argsort()
# show most likely entities
pd.DataFrame([
    (id2ent[idx][len(WD):], ent2lbl[id2ent[idx]], dist[idx], rank+1)
    for rank, idx in enumerate(most_likely[:10])],
    columns=('Entity', 'Label', 'Score', 'Rank'))

      Entity                Label        Score  Rank
0     Q12280               bridge  4617.544922     1
1  Q27096213    geographic entity  5803.001465     2
2     Q95074  fictional character  6175.950195     3
3  Q19368170      Pont d'en Gómez  6219.216797     4
4   Q2282230    River Kwai bridge  6309.948242     5
5   Q1323635           Petit Pont  6325.951660     6
6   Q6502866        cliffed coast  6327.051270     7
7   Q1497364     building complex  6341.214355     8
8   Q2151232             townland  6382.717773     9
9   Q2080521          market hall  6385.139160    10